
__pycache__/
__pypackages__/
-e .idea/
.cache
.coverage
.coverage.*
.dmypy.json
.DS_Store
.eggs/
.env
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pybuilder/
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
.wheels/
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*$py.class
/site
/.idea
/plans
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   For a library or package, you might want to ignore these files since the code is
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   install all needed dependencies.
#   intended to run in multiple environments; otherwise, check them in:
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
#  Usually these files are written by a python script from a template
# .python-version
# Byte-compiled / optimized / DLL files
# C extensions
# Celery stuff
# Cython debug symbols
# Distribution / packaging
# Django stuff:
# Environments
# Flask stuff:
# Installer logs
# IPython
# Jupyter Notebook
# mkdocs documentation
# mypy
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
# pipenv
# PyBuilder
# pyenv
# PyInstaller
# Pyre type checker
# pytype static type analyzer
# Rope project settings
# SageMath parsed files
# Scrapy stuff:
# Sphinx documentation
# Spyder project settings
# Translations
# Unit test / coverage reports
#Pipfile.lock
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
plans/
profile_default/
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
wheels/
.idea